@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure full height for layout */
html, body, #__next {
  height: 100%;
}
body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  background-color: #ffffff;
}
button {
  cursor: pointer;
}
* {
  box-sizing: border-box;
}

